services:
  web:
    build: .
    ports:
      - "3000:80"
    environment:
      - RAILS_MASTER_KEY=${RAILS_MASTER_KEY}
    volumes:
      - db_data:/rails/storage
    restart: unless-stopped

volumes:
  db_data:
